---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="A propos de moi"
	description="Consultante en business management"
	pubDate={new Date('November 01 2024')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Je suis Lisa, consultante en business management,
		passionnée par l'accompagnement des petites
		entreprises.
	</p>

	<p>
		Ma mission ? Vous aider à retrouver votre cap, à
		garder le gouvernail solide, même en pleine tempête, et
		à profiter pleinement du voyage entrepreneurial.
	</p>

	<p>
		Concrètement, j’optimise vos processus, maximise
		votre efficacité et vous guide dans la gestion de votre
		temps pour que vous vous concentriez sur ce qui
		compte vraiment.
	</p>

	<p>
		Vous êtes prêt à naviguer sereinement et atteindre
		vos objectifs ? Ensemble, nous mettons le cap sur
		votre succès.
	</p>
</Layout>
