---
---

<header class="bg-white shadow-sm">
	<nav class="py-4 flex justify-between max-w-5xl m-auto items-center">
		<h2><a href="/">
			<img src="/favicon.svg" alt="Lisa Logo" width="50" height="50" />
		</a></h2>
		<div class="flex gap-5">
			<a href="/">Inicio</a>
			<a href="/blog">Blog</a>
			<a href="/about">A propos de moi</a>
		</div>
	</nav>
</header>
