---


const { person, text } = Astro.props;
---

<div class="bg-gray-100 p-4 rounded-lg shadow-lg">
    <p class="text-gray-600 mt-2">"{text}"</p>
    <p class="text-gray-800 font-bold mt-2">- {person}</p>
</div>
